scipy
pandas
networkx
matplotlib
pymatreader
numpy
python-opencv
# https://stackoverflow.com/questions/57427233/module-cv2-cv2-has-no-attribute-ximgproc
imageio
jupyterlab
pycpd
cython
bresenham
scikit-image
scikit-learn 
Shapely
tqdm
dropbox
ipympl
nodejs
jupyter-fs
setuptools
python-decouple
typing
keras-tuner
tensorflow
imageio-ffmpeg
geopandas
statsmodels
openpyxl